.article {
  position: relative;
  background-color: #e6deea;
  border: 1px solid #000;
  font-size: 1.6rem;
  min-width: 20rem;
  max-width: 35rem;
  overflow: none;
  flex-grow: 1;
  border-radius: 1rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.category {
  /* background-color: red; */
  background: linear-gradient(to right bottom, #ca7474, #9e38dd);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem 0.6rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
}

.content {
  padding: 0 1rem;
}

.description {
  max-height: 20rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.item_footer {
  display: flex;
  padding: 0.75rem 0;
  /* background-color: orangered; */
  display: flex;
  justify-content: space-between;
}

/* .item_footer__left {
} */

.views {
  margin-right: 1rem;
}

.article_button {
  /* background-color: yellow; */
  background: linear-gradient(to right bottom, #ca7474, #9e38dd);
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

.article_button:hover {
  transform: translateY(-2px);
}
